.App {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px black;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;

ul, li{
    margin: 0;
    padding: 0;
}
}
/* write your parent styles in here for your App.js */

.holder {
  max-width: 80%;
  margin: auto;
}

.charunit {
  background-color: rgb(0,0,0,0.5);
  border-radius: 3px;
  margin: 10px;
  padding: 10px
}

.charunit h2 {
  margin: 0;
}

.charunit li {
  list-style-type: none;
  list-style-position: none;
  font-size: .8em;
}


.charattr {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}
